JAXBP/src/SchemaBook.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.example.org/SchemaBook" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Libros">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Nombre"/>
        <xs:element type="xs:string" name="ISBN"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>